<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
     <form align="right" action="/quizes" method="get">
        Buscador: 
        <input type="text" name="formulario" value="Quizes a buscar" autofocus class="tb11"/>
        <button type="submit" class="testbutton">
          Buscar
        </button>
     </form><br>
    
     <table class="tabla" align=center>
     <% var i; 
     for (i=0; i < quizes.length; i++) { %>
      <tr>
        <td align="center">
          <a class="h1" href="/quizes/<%= quizes[i].id %>">
            Pregunta <%= i+1 %>. <%= quizes[i].pregunta %>
          </a>
        </td>
        <%if(session.user){
            if(favs.indexOf(quizes[i].id) >= 0 ) { 
              var color = 'yellow'; 
              var method = "delete";
              var onClick = "confirmacion()" 
            }  
            else { 
              var color = 'white'; 
              var method = "put"; 
              var onClick = "añadido()"; 
            }
        %>
            <script>
              function confirmacion(){
                return alert('Quitado de favoritos');
              }
            </script>
            <script>
              function añadido(){
                return alert('¡Añadido a favoritos!');
              }
            </script>
           <td>
            <form id="fav" method="post" action="/user/<%= session.user.id %>/favourites/<%=quizes[i].id%>?_method=<%=method%>" >
              <input id="fav"type="image" 
              src="/images/star_<%=color%>.png" 
              width=40 px
              height=40 px
              onClick="<%=onClick%>"/>
            </form>
           </td>
           <%if(session.user.isAdmin || session.user.id === quizes[i].UserId) {%>
              <td>
                <a href="/quizes/<%= quizes[i].id %>/edit">
                  <button class="testbutton">
                    Editar
                  </button>
                </a>
              </td>
              <td>
                <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
                  <button type="submit" onClick=" return confirm('Borrar: <%= quizes[i].pregunta %>')"
                   class="testbutton">
                    borrar
                  </button>
                </form>
              </td>
           <%}%>         
        <%}%>
      </tr>
     <%}%>
    </table>

    <%if(session.user){%>
      <a href="/quizes/new">
        <button class="testbutton">
          Crear pregunta
        </button>
      </a>
    <%}%>    
  </body>
</html>
