<head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
<h3>
	Estadísticas:
</h3><br>
<p><strong> Número de preguntas totales: </strong>  <%= questions %></p>
<p><strong> Número de comentarios totales: </strong> <%= comentarios %></p>
<p><strong> Número medio de comentarios por pregunta: </strong> <%= media %></p>
<p><strong> Número de preguntas sin comentarios: </strong> <%= nohay%></p>
<p><strong> Número de preguntas con comentarios: </strong> <%=hay %></p>

